---
import { twMerge } from 'tailwind-merge'

const { class: className, disabled, type } = Astro.props
console.log('className:', className)
---

<button
	class={twMerge(
		'cursor-pointer w-fit rounded-full px-16 py-2 text-sm font-semibold hover:(px-[3.8rem] py-1.5 text-base outline-none)',
		className
	)}
	disabled={disabled}
	type={type}
>
	<slot />
</button>
