---
import { getCollection } from 'astro:content'
// const posts = await getCollection('posts')
const { posts } = Astro.props
console.log('hello posts', posts)
---

<p>
	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quam, eius rerum non at fugiat!
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil quibusdam molestiae necessitatibus
	reprehenderit quod, praesentium magnam repellendus error iure accusantium voluptate distinctio
	dolorum eum officia commodi maxime explicabo. Ab culpa perspiciatis commodi maiores quibusdam
	delectus! Fugiat cupiditate aliquam ab minus, iusto autem adipisci nesciunt in aspernatur iste
	quidem, harum necessitatibus ipsa deserunt ea non itaque vel consequuntur accusantium eos vero?
	Inventore, commodi. Fugit, nam optio aliquid modi quae quidem. Illum exercitationem in hic
	deserunt natus consequuntur repudiandae quae accusamus dicta, voluptates reprehenderit, nesciunt
	magnam architecto suscipit rem unde blanditiis provident aut eveniet quia! Temporibus maiores
	consectetur fugiat animi ex qui.
</p>
