---
import { twMerge } from 'tailwind-merge'

const { class: className } = Astro.props
---

<div class={twMerge('flex justify-center bg-white', className)}>
	<section class="max-w-7xl w-11/12 border border-amber-4">
		<slot />
	</section>
</div>
